.banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(/img/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}


.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}


footer{
    padding-top: 20px;
    background: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}
#signin{
    color:  blue;
}

/*
#login{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #2ecc71;
}
*/